.personal-projects-item{
    margin:0 0 3rem 0;
}

.personal-projects-item:last-child{
    margin:0;
}

.project-link{
    .github-icon{
        font-size: 32px;
    }

    // .project-address{
    //     display: none;
    // }
}