.personal-projects-item{
    margin:0 0 2rem 0;
}

.personal-projects-item:last-child{
    margin:0;
}

.project-description{
    margin-bottom: 1rem;
}

.project-link{
    .github-icon{
        font-size: 32px;
    }

    .github-icon{
        margin-right:10px;
    }
}