header{
    display:flex;
    justify-content: space-between;
    align-items: center;

    h1,h3{
        text-align: center;
    }
}

h1,h2,h3,h4,h5,h6{
    margin: 1rem 0;
}

.first-name,.last-name{
    white-space: nowrap;
}

.profile-links{
    padding:15px;
    li{
        padding: 5px 10px;
    }

    span{
        margin-right:1em;
        font-size: 22px;
    }
}

.inline-list{
    li{
        display:inline-block;
        margin:0 5px;
    }
}

.job-title{
    color:rgb(170, 157, 157);
    margin-top: 10px;
}

