header{
    display:flex;
    justify-content: space-between;
    align-items: center;

    h1,h3{
        text-align: center;
    }

    @media only screen and (max-width: 640px){
        flex-direction: column;
    }
}

.first-name,.last-name{
    white-space: nowrap;
}

.profile-links{
    padding: 0 15px;
    li{
        padding: 5px 10px;
        white-space: nowrap;
    }

    span{
        margin-right:1em;
        font-size: 22px;
    }
}

.job-title{
    color:rgb(170, 157, 157);
    margin-top: 10px;
}

